// Pie de página
.footer {
  position: relative;
  width: 100%;
  background-image: linear-gradient(to bottom right, #000000, #4D4F52);
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px 5px;
    flex-wrap: wrap;

    .icon {
      color: aliceblue;
      font-size: 25px;
      display: inline-block;
      margin: 0 10px;
      transition: 0.5s;
      
      &:hover {
        transform: translateY(-10px);
      }
    }
  }

  .menu{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;

    .menu-icon {
      color: white;
      font-size: 20px;
      text-decoration: none;
      display: inline-block;
      margin: 5px 10px;
      opacity: 0.5;
      transition: 0.3s;

      &:hover {
        opacity: 1;
      }
      }
    }
    .copy{
      color: aliceblue;
      text-align: center;
    }
  }
  

